:root {
  --sl-color-accent-low: #fff;
  --sl-color-accent: #000;
  --sl-color-accent-high: #000;
}

:root[data-theme='dark'] {
  --sl-color-accent-low: #000;
  --sl-color-accent: #fff;
  --sl-color-accent-high: #fff;
}

.hero > img {
  width: 150px;
  height: auto;
}

@media (min-width: 800px) {
  .hero > img {
    width: 250px;
    height: auto;
  }
}
